body{
    background-image: url("../imagenes/fondo.png");
    background-size: cover;
    background-position: center;
}

.logo{
    height: 50px;
}

.portada{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.titulo h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
}

.logo2{
    height: 400px;
    margin-bottom: 20px;
}

.btnInicio{
    border: none;
    background: none;
    cursor: pointer;
}

.btnInicio img{
    width: 120px;
}

/* Animación */
@keyframes sacudir {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

/* Cuando se presiona */
.btnInicio:active img {
    animation: sacudir 0.3s;
}