body{
    background-image: url("../imagenes/fondo.png");
    background-size: cover;
    background-position: center;
}

.logo{
    height: 50px;
}

.portada{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.titulo h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
}

.logo2{
    height: 400px;
    margin-bottom: 20px;
}

.btnInicio{
    border: none;
    background: none;
    cursor: pointer;
}

.btnInicio img{
    width: 120px;
}

/* Animación */
@keyframes sacudir {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

/*Cuando se presiona*/
.btnInicio:active img {
    animation: sacudir 0.3s;
}

/*base.html**************************************************************************/
.cuadroInformacion{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cuadroInformacion img{
    width: 100px;
}

.imgCarga1 :nth-child(n+2){
    filter: brightness(60%);
}

.cuadroInformacion h1{
    text-align: center;
}

.cuadro{
    border-color: rgba(206, 14, 110);
    border-style: double;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

input, text{
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: #ece5d8;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.alerta{
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*nombres.html *************************************************/
.imgCarga2 :nth-child(n+3){
    filter: brightness(60%);
}

.btnAgregar, .btnEliminar{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 20px;
}

.item{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*excluir.html *************************************************/
.imgCarga3 :nth-child(n+4){
    filter: brightness(60%);
}

.btnNoExclusion, .btnExclusion{
    width: 250px;
    margin-bottom: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    background-color: rgba(251, 197, 38);
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
}

.btnNoExclusion.active, .btnExclusion.active{
    background-color: rgb(154, 121, 23);
    transition: scale(0.95);
}

/*tematica.html *******************************************************/
.imgCarga4 :nth-child(n+5){
    filter: brightness(60%);
}

.btnSanValentin, .btnDNino, .btnDMadre, .btnNavidad{
    background-color: rgb(236, 237, 204);
}